{{ define "main" }}
<main class="status-microblog">
  <h1 class="status-title">{{ .Title }}</h1>
  <section class="status-grid">
    {{ $posts := .Pages.ByDate.Reverse }}
    {{ range $posts }}
      <article class="status-card">
        <div class="status-date">{{ .Date.Format "02 Jan 2006" }}</div>
        <div class="status-content">
          {{ .Summary | markdownify }} <!-- Or .Content for full, but you probably want .Summary -->
        </div>
        <div class="status-asterisk">*</div>
      </article>
    {{ end }}
  </section>
</main>
{{ end }}
